:root{
    --page-bg-color: #666;
}



/* Title image */
.title-image {
    background-color: #666;
    background-image: url('images/title_image_with_circles.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

